# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.env
.venv/
venv/
env/

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/

# Dist: ignorer tout sauf l'exe (si ton .exe est dans dist/)

# Ignorer les métadonnées Python
*.egg-info/
